.bg_Contens{
    background-color:rgba(0, 0, 0, 0.037);
}
.replies-buttons-container {
    display: flex;
    justify-content: space-between; /* Align items to the start and end */
    align-items: center;
    width: 100%; /* Ensure the container takes up the full width */
    font-weight: 500;
}

.custom-cursor {
    font-size: 16px;
    color: #65696B;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}


.bg-reply {
    background: white !important;
    flex-direction: row !important;
}