<%- include('../layouts/header') %>


<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">

                <h2 class="mb-0">Ẩm thực</h2>
            </div>

        </div>
    </div>
</header>

<section class="trending-podcast-section section-padding pt-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="section-title-wrap mb-5 mt-3">
                    <h4 class="section-title">Chủ đề thịnh hành</h4>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/food/mon nuong.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món nướng
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/woman-posing-black-dress-medium-shot.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>Elsa
                                <strong>Chuyên gia</strong>
                            </p>
                        </div>

                        <p class="mb-0">Chuyên gia bình phẩm về những món đồ nướng</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/food/mon xao.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món xào
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/smartboy.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>
                                Taylor
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                <strong>Chuyên gia</strong>
                            </p>
                        </div>

                        <p class="mb-0">Chuyên gia bình phẩm về những món xào</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/food/mon nuoc.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món nước
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>
                                William
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                <strong>Vlogger</strong>
                            </p>
                        </div>

                        <p class="mb-0">Chuyên gia về quay vlog ẩm thực những món nước</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0 mt-4">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/mon chien.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món chiên
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/man-portrait.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>
                                David
                                <strong>Đầu bếp</strong>
                            </p>
                        </div>

                        <p class="mb-0">Đầu bếp chuyên về các món chiên giòn và hấp dẫn</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>80k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>1.8k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>750k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0 mt-4">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/mon an vat.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món ăn vặt
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/emma.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>
                                Emma
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                <strong>Blogger</strong>
                            </p>
                        </div>

                        <p class="mb-0">Blogger về các món ăn vặt phổ biến và độc đáo</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>90k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>2.2k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>810k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mt-4">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="#">
                            <img src="/styles/images/mon chay.jpg" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2">
                            <a href="#">
                                Món chay
                            </a>
                        </h5>

                        <div class="profile-block d-flex">
                            <img src="/styles/images/profile/handsomeboy.jpg"
                                class="profile-block-image img-fluid" alt="">

                            <p>
                                Gatus
                                <strong>Đầu bếp</strong>
                            </p>
                        </div>

                        <p class="mb-0">Đầu bếp chuyên về các món ăn chay lành mạnh và ngon miệng</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-headphones me-1">
                                <span>85k</span>
                            </a>

                            <a href="#" class="bi-heart me-1">
                                <span>2k</span>
                            </a>

                            <a href="#" class="bi-chat me-1">
                                <span>790k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</main>

<%- include('../layouts/footer') %>
