<div class="d-flex justify-content-end">
	<button>
		<div class="svg-wrapper-1">
			<div class="svg-wrapper">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
					height="24">
					<path fill="none" d="M0 0h24v24H0z"></path>
					<path fill="currentColor"
						d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
					</path>
				</svg>
			</div>
		</div>
		<span>Đăng</span>
	</button>
</div>

</form>

<!-- <a href="/client/form/login" class="btn btn-outline-danger mt-3">Đăng nhập để bình luận</a> -->
</div>
<div class="col-lg-12 col-12 mt-5">
<div class="section-title-wrap mt-5 mb-5">
<h4 class="section-title">Danh sách bình luận</h4>
</div>


<div class="anime__review__item ">
<div class="anime__review__item__pic">
	<img src="/styles/images/profile/bede.jpg" width="50px" height="50px" class="" alt="">
</div>

<div class="anime__review__item__text mb-2">
	<div class="d-flex justify-content-between">
		<label class="font-weight-bold">
			Be De
			<h6 class="mb-3">
				<div class="rate d-flex justify-content-center mr-5 ">
					<svg style="display:none;">
						<defs>
							<symbol id="fivestars-1" class="border-none">
								<path
									d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
									fill="white" fill-rule="evenodd" />
								<path
									d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
									fill="white" fill-rule="evenodd"
									transform="translate(24)" />
								<path
									d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
									fill="white" fill-rule="evenodd"
									transform="translate(48)" />
								<path
									d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
									fill="white" fill-rule="evenodd"
									transform="translate(72)" />
								<path
									d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
									fill="white" fill-rule="evenodd"
									transform="translate(96)" />
							</symbol>
						</defs>
					</svg>
					<div class="rating-1 ml-md-5">
						<progress class="rating-bg " value="5" max="5"></progress>
						<svg>