<%- include('./layouts/header') %>
  <!-- END nav -->

  <section class="hero-wrap hero-wrap-2" style="background-image: url('/styles/img/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate mb-5 text-center">
          <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/client">Trang chủ <i
                  class="fa fa-chevron-right"></i></a></span> <span>Tin tức <i class="fa fa-chevron-right"></i></span>
          </p>
          <h2 class="mb-0 bread">Tin tức</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex">
    
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_2.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span> 23 Tháng 4, 2020</p>
              </div>
              <h3 class="heading mb-3"><a href="#">Bí quyết chọn lựa rượu phù hợp cho bữa tiệc</a></h3>
              <p> Bài viết này có thể tập trung vào việc lựa chọn loại rượu phù hợp với các loại món ăn cụ thể hoặc
                phong cách bữa tiệc. Bạn có thể bao gồm một số gợi ý về cách kết hợp rượu và thực phẩm để tạo ra trải
                nghiệm ẩm thực tuyệt vời nhất cho khách mời.</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_1.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span> 23 Tháng 4, 2020</p>
              </div>
              <h3 class="heading mb-3"><a href="#">Sự đa dạng trong thế giới rượu vang</a></h3>
              <p>sự đa dạng của rượu vang, bao gồm cả rượu vang đỏ, trắng và hồng, cũng như các biến thể khác nhau như
                rượu vang ngọt, rượu vang sủi bọt, và rượu vang có hương vị đặc biệt.</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_3.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span> 23 Tháng 4, 2020</p>
              </div>
              <h3 class="heading mb-3"><a href="#">Hành trình khám phá văn hóa rượu đặc biệt</a></h3>
              <p>rượu đặc trưng từ các vùng đất khác nhau trên thế giới. Bạn có thể chia sẻ về quá trình sản xuất, lịch
                sử và các nét đặc trưng văn hóa của rượu từ các quốc gia như Pháp, Ý, Tây Ban Nha, Nhật Bản, và nhiều
                nơi khác.</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_4.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span> 23 Tháng 4, 2020</p>
              </div>
              <h3 class="heading mb-3"><a href="#">Câu chuyện đằng sau nhãn hiệu rượu nổi tiếng</a></h3>
              <p>câu chuyện lịch sử và sứ mệnh của các nhãn hiệu rượu nổi tiếng. Bạn có thể kể về những người sáng lập,
                quá trình sản xuất đặc biệt, và cả những giải thưởng và danh tiếng mà nhãn hiệu đã đạt được.</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-md-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_5.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span>10 Tháng 3, 2023</p>
              </div>
              <h3 class="heading mb-3"><a href="#">
                  Bí Quyết Giữ Rượu Ngon - Làm Thế Nào Để Rượu Ngo Giữ Được Hương Vị Tốt Nhất?</a></h3>
              <p>Rượu ngo là một loại đồ uống đặc biệt với hương vị phức tạp và giá trị độc đáo. Đối với những người yêu
                thích rượu ngo, việc giữ cho chai rượu của mình luôn giữ được hương vị tốt nhất là một ưu tiên hàng đầu.
                Dưới đây là một số bí quyết giữ rượu ngo mà bạn có thể áp dụng để bảo quản chai rượu của mình trong tình
                trạng tốt nhất:</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          <div class="blog-entry d-md-flex">
            <a href="blog-single.html" class="block-20 img" style="background-image: url('/styles/img/image_6.jpg');">
            </a>
            <div class="text p-4 bg-light">
              <div class="meta">
                <p><span class="fa fa-calendar"></span> 15 Tháng 3 2024</p>
              </div>
              <h3 class="heading mb-3"><a href="#">Bí Quyết Chọn Quán Rượu Ngọt Ngào - Nơi Tận Hưởng Hương Vị Đặc Biệt</a></h3>
              <p>Việc tìm kiếm một quán rượu tuyệt vời để thư giãn và thưởng thức những ly rượu ngon có thể là một hành trình thú vị. Tuy nhiên, không phải lúc nào cũng dễ dàng để tìm ra một địa điểm lý tưởng với không gian ấm áp và rượu ngon. Dưới đây là một số bí quyết giúp bạn chọn được quán rượu ngon nhất.</p>
              <a href="#" class="btn-custom">Tiếp tục <span class="fa fa-long-arrow-right"></span></a>

            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./layouts/footer') %>

    </body>

    </html>