<div class="row">
    <div class="col-lg-12">
        <nb-card >
            <nb-card-header >Thêm danh mục</nb-card-header>
            <nb-card-body>              
                  
                    <div class="mb-3">
                        <label for="name"  class="form-label">Tên loại</label>
                        <input type="text" nbInput fullWidth name="name" id="name" class="input-full-width size-medium status-basic shape-rectangle nb-transition" required>
                    </div>
                    <div class="mb-3 text-end ">
                        <button type="submit" nbButton name="" value="" class="mat-ripple size-small shape-rectangle appearance-hero status-primary ng-star-inserted nb-transition mx-3 ">
                            <i class="nb-plus mr-3"></i> Thêm mới </button>
                        <button type="reset" nbButton value="" class="mat-ripple size-small shape-rectangle appearance-hero status-warning ng-star-inserted nb-transition mr-3 ">Nhập lại</button>   
                    </div>               
            </nb-card-body>
        </nb-card>
    </div>
</div>