<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Danh sách</nb-card-header>
            <nb-card-body>
                <div class="table-responsive pt-3">
                    <table class="table border text-center">
                        <ng-container>
                            <tr>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    #</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Hình ảnh</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Tên loại</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                </th>
                            </tr>
                        </ng-container>
                        <ng-container>
                            <tr *ngFor="let category of categories; index as i">
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{i + 1}}</td>
                                    <td class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted"><img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F{{category.images}}?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" width="80px" height="80px" alt="" class="rounded-circle"></td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{category.name}}</td>
                                <td
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted text-center">
                                    <button nbButton routerLink="../edit/{{category.id}}"
                                        class="mat-ripple status-success appearance-outline size-medium shape-rectangle ng-star-inserted nb-transition mt-3 mb-3">
                                        <nb-icon icon="edit-2-outline" pack="eva" class="fs-3"></nb-icon></button>
                                    <button nbButton (click)="onDelete(category.id)"
                                        class="mat-ripple size-medium shape-rectangle appearance-hero status-danger ng-star-inserted nb-transition mx-2 mt-3 mb-3">
                                        <nb-icon icon="trash-2" pack="eva" class="fs-3"></nb-icon></button>
                                </td>
                            </tr>

                        </ng-container>
                    </table>
                    <ngx-paginator 
                    [apiUrl]="apiUrl"
                    [current_page]="current_page"
                    [last_page]="last_page"
                    (dataList)="getPage($event)"></ngx-paginator>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>