
.container {
    width: 100%;
    max-width: 500px;
  
    a {
      text-decoration: none;
      color: #00D68F;
    }
  
    .form-control {
      max-width: 500px;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .label {
      text-align: left;
      padding-bottom: 5px;
      display: block;
    }
  
    .remember {
      text-align: left;
    }
  }
  
  .inputs {
    margin-top: 10px
  }
  
  .inputs input {
    width: 15%;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
    
  }
  
  .inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
  }
  