<nb-layout>
    <nb-layout-column>
        <nb-card style="height: 95%;">
            <nb-card-header>
                <nav><a href="" routerLink="/auth/login">
                        <nb-icon icon="arrow-back-outline" pack="eva" class="fs-3"></nb-icon>
                    </a>
                </nav>
            </nb-card-header>
            <nb-card-body class="d-flex mb-5">
                <div class="container w-50 m-auto">                
                    <ngx-alerts [messages]="alertMessages"></ngx-alerts>
                    <form [formGroup]="requestpasswordForm" (ngSubmit)="onSubmit()" aria-labelledby="title" *ngIf="emailcheck">
                        <h1 id="title" class="title text-center">Quên mật khẩu</h1>
                        <p class="sub-title text-center text-danger fst-italic">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi mã OTP
                            để đặt lại mật khẩu của bạn</p>
                        <div class="form-control-group mb-3">
                            <label class="label" for="email">
                                Nhập địa chỉ email của bạn:</label>
                            <input nbInput fullWidth name="email" formControlName="email" required id="email"
                                pattern=".+@.+\..+" placeholder="Email của bạn" class="form-control" status="success"
                                autofocus>
                            <div
                                *ngIf="requestpasswordForm.get('email').invalid && (requestpasswordForm.get('email').dirty || requestpasswordForm.get('email').touched)">
                                <small *ngIf="requestpasswordForm.get('email').hasError('required')">
                                    <i class="text-danger">Vui lòng nhập email.</i>
                                </small>
                                <small *ngIf="requestpasswordForm.get('email').hasError('pattern')">
                                    <i class="text-danger">Email chưa đúng định dạng.</i>
                                </small>
                            </div>
                        </div>
                        <button nbButton type="submit" class="mb-3" [disabled]="!requestpasswordForm.valid"
                            status="success"
                            class="appearance-filled full-width size-large shape-rectangle status-primary nb-transition">Gửi
                            email
                        </button>

                    </form>
                    <form (ngSubmit)="submitOTP()" [formGroup]="otpForm" *ngIf="otp">
                        <h1 id="title" class="title text-center">Nhập OTP</h1>
                        <p class="sub-title text-center text-danger fst-italic">Vui lòng check email nhập OTP</p>
                        <div class="form-control-group mb-3">
                            <label class="label" for="input1">Nhập OTP:</label>
                            <div class="inputs responsive" formGroupName="otp">
                                <input id="input1" class="bg-transparent" name="input1" formControlName="otp1" type="text" maxlength="1" tabindex="1">
                                <input id="input2" class="bg-transparent" name="input2" formControlName="otp2" type="text" maxlength="1" tabindex="2">
                                <input id="input3" class="bg-transparent" name="input3" formControlName="otp3" type="text" maxlength="1" tabindex="3">
                                <input id="input4" class="bg-transparent" name="input4" formControlName="otp4" type="text" maxlength="1" tabindex="4">
                                <input id="input5" class="bg-transparent" name="input5" formControlName="otp5" type="text" maxlength="1" tabindex="5">
                            </div>
                            <div *ngIf="otpForm.invalid && (otpForm.dirty || otpForm.touched)">
                                <small class="text-danger" *ngIf="otpForm.get('otp').hasError('required')">
                                    Vui lòng nhập đầy đủ OTP.
                                </small>
                            </div>
                        </div>
                        <button nbButton type="submit" class="mb-3 w-100" status="success" [disabled]="otpForm.invalid">
                            Gửi OTP
                        </button>
                    </form>    
                    <form (ngSubmit)="changePass()"  [formGroup]="changeForm" aria-labelledby="title" *ngIf="changePassword">
                        <h1 id="title" class="title text-center">Đổi mật khẩu</h1>
                        <p class="sub-title text-center text-danger fst-italic">Chú ý đặt mật khẩu không cho ai xem vấn đề bảo mật an toàn</p>
                        <div class="form-control-group mb-3">
                          <label class="label" for="password">Nhập mật khẩu mới:</label>
                          <input nbInput formControlName="password" required name="password" fullWidth status="success"
                          id="password" placeholder="Mật khẩu..." type="password" class="form-control"  pattern="^[a-zA-Z0-9]+$">
                          <div *ngIf="changeForm.get('password').invalid && (changeForm.get('password').dirty || changeForm.get('password').touched)">
                            <small *ngIf="changeForm.get('password').hasError('required') || changeForm.get('password').hasError('minlength')">
                              <i class="text-danger">Vui lòng nhập password[8].</i>
                            </small>
                            <small *ngIf="changeForm.get('password').hasError('pattern')">
                              <i class="text-danger">Password không chứa ký tự đặc biệt.</i>
                            </small>
                          </div>
                        </div>
                      
                        <div class="form-control-group mb-3">
                          <label class="label" for="confirmpassword">Xác nhận mật khẩu:</label>
                          <input nbInput fullWidth type="password" name="confirmpassword" formControlName="confirmpassword" required id="confirmpassword"
                                 placeholder="Xác nhận mật khẩu mới" class="form-control" status="success"
                                 autofocus>
                          <div *ngIf="changeForm.get('confirmpassword').invalid && (changeForm.get('confirmpassword').dirty || changeForm.get('confirmpassword').touched)">
                            <small *ngIf="changeForm.get('confirmpassword').hasError('required')">
                              <i class="text-danger">Vui lòng nhập xác nhận mật khẩu.</i>
                            </small>
                            <small *ngIf="changeForm.hasError('confirm')">
                              <i class="text-danger">Xác nhận mật khẩu không khớp.</i>
                            </small>
                          </div>
                        </div>
                      
                        <button nbButton type="submit" class="mb-3" [disabled]="changeForm.invalid" status="success"
                                class="appearance-filled full-width size-large shape-rectangle status-primary nb-transition">
                          Đổi mật khẩu
                        </button>
                    </form>                      
                </div>            
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>