<nb-layout>
    <nb-layout-column>
        <nb-card style="height: 95%;">
            <nb-card-header>
                <nav><a href="" routerLink="/auth/login">
                        <nb-icon icon="arrow-back-outline" pack="eva" class="fs-3"></nb-icon>
                    </a>
                </nav>
            </nb-card-header>
            <nb-card-body class="d-flex mb-5">
                <div class="container w-50 m-auto">
                    <h1 id="title" class="title text-center">Quên mật khẩu</h1>
                    <p class="sub-title">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi mã OTP
                        để đặt lại mật khẩu của bạn</p>
                    <ngx-alerts [messages]="alertMessages"></ngx-alerts>
                    <form [formGroup]="requestpasswordForm" (ngSubmit)="onSubmit()" aria-labelledby="title">
                        <div class="form-control-group mb-3">
                            <label class="label" for="email">
                                Nhập địa chỉ email của bạn:</label>
                            <input nbInput fullWidth name="email" formControlName="email" required id="email"
                                pattern=".+@.+\..+" placeholder="Email của bạn" class="form-control" status="success"
                                autofocus>
                            <div
                                *ngIf="requestpasswordForm.get('email').invalid && (requestpasswordForm.get('email').dirty || requestpasswordForm.get('email').touched)">
                                <small *ngIf="requestpasswordForm.get('email').hasError('required')">
                                    <i class="text-danger">Vui lòng nhập email.</i>
                                </small>
                                <small *ngIf="requestpasswordForm.get('email').hasError('pattern')">
                                    <i class="text-danger">Email chưa đúng định dạng.</i>
                                </small>
                            </div>
                        </div>
                        <button nbButton type="submit" class="mb-3" [disabled]="!requestpasswordForm.valid"
                            status="success"
                            class="appearance-filled full-width size-large shape-rectangle status-primary nb-transition">Gửi
                        </button>
                        <section aria-label="Sign in or sign up"
                            class="sign-in-or-up d-flex justify-content-between mt-3">
                            <p class=""><a routerLink="/auth/login" class="text-link">Quay lại đăng nhập</a></p>
                        </section>
                    </form>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>