<div>
    <img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=user.data[0].images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" alt="profile" class="img-sm rounded-circle">
    <div class="ml-4">
        <h6>
            <%=user.data[0].username%>
            <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10 giờ</small>
        </h6>
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="sample" class="rounded mw-100">
        <p class="small text-muted mt-2 mb-0">
            <span><i class="mdi mdi-star mr-1"></i>4</span>
            <span class="ml-2"><i class="mdi mdi-comment mr-1"></i>11</span>
            <span class="ml-2"><i class="mdi mdi-reply"></i></span>
        </p>
    </div>
</div>

