<%- include('../layouts/header') %>

<header class="site-header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 text-center">
        <h2 class="mb-2">Đăng nhập</h2>
      </div>
    </div>
  </div>
</header>

<section class="about-section section-padding" id="section_2">
  <div class="container">
    <div class="login-box m-auto" id="bg-login">
      <h2 class="mb-5">Đăng nhập</h2>
      <form class="form needs-validation" novalidate method="post" action="/client/form/loginUser">
        <div class="user-box">
          <input type="text" name="username" id="username" required>
          <label>Tài khoản</label>
          <div id="usernameFeedback" class="text-danger messageerr" style="font-size: 13px;"></div>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" required>
          <label>Mật khẩu</label>
          <div id="passwordFeedback" class="text-danger messageerr" style="font-size: 13px;"></div>
          <span id="errorMessage" style="color: red;"><% if(typeof errorMessage !== 'undefined'){ %> <%= errorMessage %> <% } %></span>
        </div>
        <div class="text-right d-flex justify-content-sm-end">
          <button class="btn_submit bg-transparent">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Đăng nhập
          </button>
        </div>
        <div class="text-center mt-5">
          <p class="text-white">Bạn đã có tài khoản chưa? <a class="text-sm-start" href="/client/form/signup">Đăng ký</a></p>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>

<script>
document.addEventListener('DOMContentLoaded', function () {
  'use strict';
  var form = document.querySelector('.needs-validation');
  var usernameInput = form.querySelector('#username');
  var passwordInput = form.querySelector('#password');
  form.addEventListener('submit', function (event) {
    var isFormValid = true;
    var usernameFeedback = document.querySelector('#usernameFeedback');
    var passwordFeedback = document.querySelector('#passwordFeedback');
    
    usernameFeedback.innerHTML = '';
    passwordFeedback.innerHTML = '';
    
    var usernameValue = usernameInput.value.trim(); 

    var usernameRegex = /^[a-z0-9]*$/; 

    if (usernameValue === '' || usernameValue.length < 5) {
      isFormValid = false;
      usernameFeedback.innerHTML = 'Tài khoản ít nhất 5 kí tự';
    } else if (!usernameRegex.test(usernameValue)) {
      isFormValid = false;
      usernameFeedback.innerHTML = 'Tài khoản không được chứa chữ hoa hoặc ký tự đặc biệt';
    }
    
    if (passwordInput.value.trim() === '' || passwordInput.value.length < 5) {
      isFormValid = false;
      passwordFeedback.innerHTML = 'Mật khẩu ít nhất 5 kí tự';
    }
    
    if (!isFormValid) {
      event.preventDefault();
    }
  });
});

</script>
