<%- include('./layouts/header') %>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/styles/img/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/client">Trang chủ <i class="fa fa-chevron-right"></i></a></span> <span>Về chúng tôi <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Về chúng tôi</h2>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-intro">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-4 d-flex">
					<div class="intro d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<i class="bi bi-person-video2 fa-3x text-white"></i>
						</div>
						<div class="text">
							<h2>Hỗ trợ trực tuyến 24/7</h2>
							<p>Chúng tôi ở đây để phục vụ bạn mọi lúc, mọi nơi - hãy để chúng tôi là người đồng hành
								đáng tin cậy trong mỗi kỷ niệm với rượu của bạn.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="intro color-1 d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<i class="bi bi-currency-dollar fa-3x text-white"></i>
						</div>
						<div class="text">
							<h2>Giá tiền phù hợp</h2>
							<p>Giá cả hợp lý, chất lượng tuyệt vời - mỗi giọt rượu đều xứng đáng với giá trị mà bạn đầu
								tư.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="intro color-2 d-lg-flex w-100 ftco-animate">
						<div class="icon">
							<i class="bi bi-box-seam fa-3x text-white"></i>
						</div>
						<div class="text">
							<h2>Miễn phí ship toàn quốc</h2>
							<p>Với dịch vụ giao hàng miễn phí toàn quốc, mỗi giọt rượu sẽ đến tận tay bạn một cách tiện
								lợi, không gian bất kỳ nơi đâu bạn đang đợi chờ.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
					style="background-image: url(/styles/img/about.jpg);">
				</div>
				<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
					<div class="heading-section">
						<span class="subheading">Từ năm 1905</span>
						<h2 class="mb-4">Khi Niềm Đam Mê Gặp Vị Mới Lạ</h2>
						<p>Một dòng sông nhỏ mang tên Duden chảy qua nơi đây và cung cấp đủ những thứ cần thiết cho nó.
							Đó là một đất nước ngập tràn cảnh đẹp, nơi các phần của câu được nướng chảy vào miệng bạn.
						</p>
						<p>Trên đường đi, cô gặp một bản sao. Bản sao cảnh báo Câu Văn Mùa Hè Nhỏ rằng nơi nó đến từ, nó
							đã được viết lại một nghìn lần và mọi thứ còn lại từ nguồn gốc của nó chỉ là từ "và" và Câu
							Văn Mùa Hè Nhỏ nên quay đầu lại và trở về đất nước an toàn của chính mình.</p>
						<p class="year">
							<strong class="number" data-number="115">0</strong>
							<span>Năm Kinh Nghiệm Trong Kinh Doanh</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url(/styles/img/kind-2.jpg);"></div>
						<h3>Gin</h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url(/styles/img/kind-3.jpg);"></div>
						<h3>Rum</h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url(/styles/img/kind-5.jpg);"></div>
						<h3>Vodka</h3>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url(/styles/img/kind-6.jpg);"></div>
						<h3>Whiskey</h3>
					</div>
				</div>

			</div>
		</div>
	</section>

  

	<section class="ftco-section testimony-section img" style="background-image: url(/styles/img/bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Nhận xét</span>
					<h2 class="mb-3">Khách hàng</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">LTShop - nơi bạn có thể khám phá thế giới của rượu
										và thỏa mãn đam mê của mình. Chúng tôi tự hào là điểm đến đáng tin
										cậy cho những người yêu thích rượu. Chúng tôi cam kết cho bạn trải
										nghiệm mua sắm tuyệt vời nhất.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/styles/img/user.jpg)"></div>
										<div class="pl-3">
											<p class="name">Linh Trần</p>
											<span class="position">Quản lý</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Khám phá hương vị tinh tế của rượu vang này là một trải nghiệm tuyệt
										vời! Với sự kết hợp hoàn hảo giữa hương thơm phức hợp và vị đậm đà, đây chắc
										chắn sẽ là sự lựa chọn hoàn hảo cho bất kỳ buổi tiệc nào.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/styles/img/kiet.jpg)"></div>
										<div class="pl-3">
											<p class="name">Tuấn Kiệt</p>
											<span class="position">Khách hàng</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Rượu whisky này không chỉ là một loại đồ uống, mà còn là một tác
										phẩm nghệ thuật. Với hương vị phong phú và độ mạnh vừa phải, nó sẽ làm hài lòng
										cả những người thưởng thức rượu whisky khó tính nhất.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/styles/img/hieu.jpg)"></div>
										<div class="pl-3">
											<p class="name">Bảo Hiếu (j24)</p>
											<span class="position">Khách hàng</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Nhấp môi vào rượu rum này là như bước vào một chuyến phiêu lưu đầy
										hứng khởi. Với vị ngọt êm dịu và hương thơm quyến rũ, đây chắc chắn sẽ là điểm
										nhấn hoàn hảo cho bất kỳ buổi tiệc nào.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/styles/img/de.jpg)"></div>
										<div class="pl-3">
											<p class="name">Hoàng Đệ</p>
											<span class="position">Khách hàng</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Dành riêng cho những tín đồ của cocktail, rượu gin này mang đến một
										sự kết hợp tinh tế của hương thơm thảo mộc và vị thanh mát. Thưởng thức mỗi giọt
										rượu là một cuộc phiêu lưu mới đầy sáng tạo và độc đáo.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/styles/img/minh.jpg)"></div>
										<div class="pl-3">
											<p class="name">Phước Minh</p>
											<span class="position">Khách hàng</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



		<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="100">0</strong>
                <span>Khách hàng thân thiết</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="115">0</strong>
                <span>Năm kinh nghiệm</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="4">0</strong>
                <span>Loại Rượu</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="40">0</strong>
                <span>Chi nhánh</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
	<%- include('./layouts/footer') %>
  </body>
</html>