<div _ngcontent-vfj-c177="" class="row ng-star-inserted">
  <div _ngcontent-vfj-c177="" class="col-12 col-md-6">
<nb-card _ngcontent-vfj-c116="" _nghost-vfj-c13="">
      <div>
        
      </div>
        <div _ngcontent-vfj-c116="" class="actions"><a _ngcontent-vfj-c116="" nbbutton="" hero=""
            href="https://www.akveo.com/contact?utm_campaign=services%20-%20ngx_admin%20customization%20-%20ngx_admin%20demo%20dashboard&amp;utm_source=ngx_admin&amp;utm_medium=referral&amp;utm_content=iot_dashboard_demo"
            aria-disabled="false" tabindex="0"
            class="size-small shape-rectangle appearance-hero status-danger nb-transition"> Contact us </a></div>
      </nb-card>
  </div>
  <div _ngcontent-vfj-c177="" class="col-12 col-md-6">

  </div>
</div>