<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="d-flex align-items-center my-4">
                <img  src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=user.data[0].images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" alt="profile" class="img-lg rounded-circle mb-3" style="width: 50px; height: 50px;">
                    <input type="text" class="ms-4 form-control rounded-5" data-bs-toggle="modal" data-bs-target="#addPostModal" placeholder="   Bạn có muốn thêm bài viết?"> 
            </div>
            
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Chủ đề</th>
                <th scope="col">Ngày đăng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F2024-06-10T19:06:00.515Z.jpg?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" style="width: 30px; height: 30px; border-radius: 50%;" alt=""> Cách làm gà rán đơn giản nhất</td>
                <td>Món rán</td>
                <td>2 ngày trước</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  
  <div class="backdrop"></div>
  <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPostModalLabel">Thêm bài đăng mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Tiêu đề:</label>
                        <input type="text" class="form-control" id="postTitle" placeholder="Nhập tiêu đề">
                    </div>
                    <div class="mb-3">
                      <label for="postCategory" class="form-label">Chủ đề:</label>
                      <input type="text" class="form-control" id="postCategory" placeholder="Nhập chủ đề">
                  </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label">Nội dung:</label>
                        <textarea class="form-control" id="postContent" rows="3" placeholder="Nhập nội dung"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
<button type="button" class="btn btn-primary">Đăng bài</button>
            </div>
        </div>
    </div>
  </div>
