<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">

	<title>Foodcast Forum</title>

	<!-- CSS FILES -->
	<link rel="preconnect" href="https://fonts.googleapis.com">

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


	<link rel="icon" href="/styles/images/icon_logo.jpg" type="image/png">
	<link rel="stylesheet" href="/styles/css/bootstrap.min.css">

	<link rel="stylesheet" href="/styles/css/bootstrap-icons.css">

	<link rel="stylesheet" href="/styles/css/owl.carousel.min.css">

	<link rel="stylesheet" href="/styles/css/owl.theme.default.min.css">

	<link href="/styles/css/templatemo-pod-talk.css" rel="stylesheet">
	<link rel="stylesheet" href="/styles/css/login.css">
	<link rel="stylesheet" href="/styles/css/main.css">
	<style>
		.text-danger {
    color: red; /* Màu đỏ */
}

	</style>
</head>

<body>

	<main>

		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand me-lg-5 me-0" href="/client">
					<img src="/styles/images/icon.png" class="logo-image img-fluid" alt="templatemo pod talk">
				</a>

				<form action="/client/search" method="get" class="custom-form search-form flex-fill me-3" role="search">
					<div class="input-group input-group-lg">
						<input name="message" type="search" class="form-control" id="message" placeholder="Tìm Kiếm..."
							aria-label="Search">

						<button type="submit" class="form-control" id="submit">
							<i class="bi-search"></i>
						</button>
					</div>
				</form>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-lg-auto">
						<li class="nav-item">
							<a class="nav-link active" href="/client">Trang chủ</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/client/about">Về chúng tôi</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/client/menu/product"
								id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown">Thể loại</a>
							<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
								<% for (let cate of categories) { %>
									<li><a class="dropdown-item" href="/client/menu/product/<%= cate.id %>">
											<%= cate.name %>
										</a></li>
									<% } %>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/client/contact">Liên hệ</a>
						</li>
					</ul>
					<% if (typeof userId !=='undefined' ) { %>
						<div class="nav-item dropdown">
							<a class="nav-link dropdown-toggle btn custom-btn custom-border-btn smoothscroll" href="#"
								id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=user.data[0].images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" class="was-validated rounded-circle" style="width: 30px; height: 30px; border-radius: 50%;" alt="">
							</a>

							<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">

								<li><a class="dropdown-item" href="/client/form/info">
										<%= user.data[0].username %>
									</a></li>
								<li><a class="dropdown-item" href="/client/logout">Đăng xuất</a></li>

							</ul>
						</div>
						<% } else { %>
							<div class="nav-item dropdown">
								<a class="nav-link dropdown-toggle btn custom-btn custom-border-btn smoothscroll"
									href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="fs-4 bi bi-person-circle"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-light"
									aria-labelledby="navbarLightDropdownMenuLink">
									<li><a class="dropdown-item" href="/client/form/login">Đăng nhập</a></li>
									<li><a class="dropdown-item" href="/client/form/signup">Đăng ký</a></li>
								</ul>
							</div>

							<% } %>
				</div>
			</div>
		</nav>