.rate {

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}



.ratings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.ratings>input {
    display: none
}

.ratings>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.ratings>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.ratings>label:hover:before,
.ratings>label:hover~label:before {
    opacity: 1 !important
}

.ratings>input:checked~label:before {
    opacity: 1
}

.ratings:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons {
    top: 36px;
    position: relative;
}


.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px;
}


.rating-submit:hover {

    color: #fff;
}

.anime__review__item__pic {
    float: left;
    margin-right: 20px;
    position: relative;
}

.anime__review__item__pic img {
    height: 50px;
    /* width: 50px; */
    border-radius: 50%;
}

.anime__review__item__pic:before {
    position: absolute;
    right: -30px;
    top: 15px;
    border-top: 15px solid transparent;
    border-left: 15px solid rgb(241, 234, 234);
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.anime__review__item__text {
    width: 500px;
    overflow: hidden;
    /* background: white; */
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset -1px -2px 9px rgb(211, 209, 209);
    padding: 18px 30px 16px 20px;
    border-radius: 10px;
    color: black;
}
.rating-1 {
    width: 120px;
    height: 24px;
    position: relative;
    background-color: white;
}

progress.rating-bg {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: inline-block;
    height: 24px;
    width: 100%;
    color: #FBD947;
}

progress.rating-bg::-webkit-progress-value {
    background-color: #FBD947;
}

progress.rating-bg::-moz-progress-bar {
    background-color: #FBD947;
}

.rating-1 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fivestars-1 path {
    border: none !important;
}

.shadow  {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
    transform: rotate(45deg);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
}

.rating input {
    appearance: unset;
}

.rating label {
    cursor: pointer;
}

.rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}

.rating label:hover svg {
    stroke: var(--fill);
}

.rating input:checked~label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}

@keyframes yippee {
    0% {
        transform: scale(1);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30% {
        transform: scale(0);
        fill: var(--fill);
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke: var(--stroke);
        stroke-dasharray: 10;
        stroke-width: 1px;
        stroke-linejoin: bevel;
    }

    30.1% {
        stroke: var(--fill);
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
    }

    60% {
        transform: scale(1.2);
        fill: var(--fill);
    }
}