a:hover {
    text-decoration: none !important;
    
  }

.bi-play-fill{
    color: white;
}
.img-podcast{
    width: 112px !important;
    height: 112px !important;
}

.shadow {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.categories-section {
    padding: 40px 0;
  }
  
  .category-item {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .category-item:hover {
    transform: scale(1.1);
  }
  
  .category-image {
    border-radius: 8px;
    width: 100%;
  }
  
  .category-name {
    font-size: 16px;
    font-weight: bold;
  }

  



  /* Custom CSS styles */
 /* .owl-carousel {
    position: relative;
    display: flex;
    overflow: hidden;
}

.owl-carousel-info-wrap {
    min-width: 300px; 
    margin: 0 10px; 
    transition: transform 0.5s ease;
}

.owl-carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.owl-carousel-info {
    padding: 10px;
    text-align: center;
}

.social-share {
    margin-top: 10px;
}

.social-icon {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icon-item {
    margin: 0 5px;
}

.social-icon-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff; 
    color: white;
    border-radius: 5px;
    margin: 5px 0;
} */

  