<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header class="d-flex justify-content-between align-content-center">Danh sách

                <form action="">
                    <div class="searchbar bg-transparent">
                        <div class="searchbar-wrapper">
                            <div class="searchbar-left">
                                <div class="search-icon-wrapper">
                                    <span class="search-icon searchbar-icon" (click)="searchCustomer()">
                                        <nb-icon icon="search-outline" pack="eva" class="fs-4"></nb-icon>
                                    </span>
                                </div>
                            </div>
                            <div class="searchbar-center">
                                <div class="searchbar-input-spacer"></div>
                                <input type="text" class="searchbar-input status-basic" maxlength="2048" name="query"
                                    nbInput autocapitalize="off" autocomplete="off" title="Search" role="combobox"
                                    placeholder="Tìm kiếm" [(ngModel)]="query" (input)="suggestKeywords()">
                            </div>
                            <div class="searchbar-right">
                                <svg class="voice-search" role="button" xmlns="" viewBox="0 0 24 24">
                                    <path fill="#4285f4"
                                        d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z">
                                    </path>
                                    <path fill="#34a853" d="m11 18.08h2v3.92h-2z"></path>
                                    <path fill="#fbbc05"
                                        d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z">
                                    </path>
                                    <path fill="#ea4335"
                                        d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="suggestedKeywords.length > 0" class="dropdown-menu show"
                        style="width: 100%; margin-top: 5px;">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let keyword of suggestedKeywords"
                                (click)="selectKeyword(keyword)">
                                {{ keyword }}
                            </li>
                        </ul>
                    </div>
                </form>

            </nb-card-header>
            <nb-card-body>
                <div class="table-responsive pt-3">
                    <table class="table border text-center">
                        <ng-container>
                            <tr>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    #</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Ảnh đại diện</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Tài khoản</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Họ và Tên</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Email</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                </th>
                            </tr>
                        </ng-container>
                        <ng-container>
                            <tr *ngFor="let item of customers; index as i">
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{i + 1}}</td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F{{item.images}}?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9"
                                        width="80px" height="80px" alt="" class="rounded-circle"></td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{item.username}}</td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{item.full_name}}</td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{item.email}}</td>
                                <td
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted text-center">
                                    <button nbButton
                                        class="mat-ripple status-success appearance-outline size-medium shape-rectangle ng-star-inserted nb-transition mt-3 mb-3"
                                        routerLink="../edit/{{item.id}}">
                                        <nb-icon icon="edit-2-outline" pack="eva" class="fs-3"></nb-icon></button>
                                    <button nbButton (click)="onDelete(item.id)"
                                        class="mat-ripple size-medium shape-rectangle appearance-hero status-danger ng-star-inserted nb-transition mx-2 mt-3 mb-3">
                                        <nb-icon icon="trash-2" pack="eva" class="fs-3"></nb-icon></button>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                    <ngx-paginator [apiUrl]="apiUrl" [current_page]="current_page" [last_page]="last_page"
                        (dataList)="getPage($event)"></ngx-paginator>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>