<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Sửa danh mục</nb-card-header>
        <nb-card-body>       
          <form (ngSubmit)="onUpdate()"  [formGroup]="validateForm">
            <div class="mb-3">
              <label for="name" class="form-label">Tên loại</label>
              <input type="text" nbInput fullWidth formControlName="name" name="name" id="name" class="input-full-width size-medium status-basic shape-rectangle nb-transition" [(ngModel)]="editingCategory.name" required>
              <span class="text-danger" 
              *ngIf="validateForm.get('name')!.invalid &&
              (validateForm.get('name')!.dirty || validateForm.get('name')!.touched)"
              >Tên không được để trống</span>
            </div>
            <div class="mb-3 text-end">
              <button type="submit" nbButton class="mat-ripple size-small shape-rectangle appearance-hero status-primary ng-star-inserted nb-transition mx-3">
                <i class="nb-plus mr-3"></i> Sửa
              </button>
              <button type="reset" nbButton class="mat-ripple size-small shape-rectangle appearance-hero status-warning ng-star-inserted nb-transition mr-3">Nhập lại</button>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  