<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Chi tiết chia sẻ</nb-card-header>
            <nb-card-body>
                <div class="table-responsive pt-3">
                    <table class="table border text-center">
                        <ng-container>

                            <tr>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Ảnh
                                </th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Người chia sẻ</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    Ngày chia sẻ</th>
                                <th
                                    class="nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                </th>
                            </tr>
                        </ng-container>
                        <ng-container>
                            <tr *ngFor="let list of detail">
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F{{list.images}}?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9"
                                        width="60px" height="60px" alt="">
                                </td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{list.username}}</td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    {{ list.date | date: 'dd/MM/yyyy' }}</td>
                                <td
                                    class="ng-star-inserted nb-tree-grid-header-cell nb-header-cell cdk-header-cell cdk-column-size nb-column-size ng-star-inserted">
                                    <button nbButton
                                        class="mat-ripple size-medium shape-rectangle appearance-hero status-danger ng-star-inserted nb-transition mx-2 mt-3 mb-3"
                                        (click)="onDelete(list.id)">
                                        <nb-icon icon="trash-2" pack="eva" class="fs-3 ng-star-inserted">
                                        </nb-icon>
                                    </button>
                                </td>
                            </tr>


                        </ng-container>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
