
  nb-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
  }
  
  nb-card-body {
    // width: 100%;
    // max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  