/* From Uiverse.io by andrew-demchenk0 */ 
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;    
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }

  
  
  .hover-pointer {
    cursor: pointer; 
}
.liked {
  color: rgb(246, 8, 8); /* Màu khi được thích */
  transition: color 0.3s ease; /* Hiệu ứng chuyển màu */

}
.liked:hover {
  color: rgba(220, 47, 47, 0.964); /* Màu khi hover (tuỳ chọn) */
}


.liked:active {
  transform: scale(1.5); 
  transition: transform 0.2s ease; 
}
.heart-icon{
  cursor: pointer;
}
.fs-6 {
  font-size: 1.5rem;
  cursor: pointer;
}
